#Python 3.11 is required
#Core Numerical Libraries
numpy>=1.24.0,<2.0.0
scipy>=1.9.0

#Image Processing
opencv-python>=4.7.0
Pillow>=9.4.0
scikit-image>=0.20.0

#Visualization
matplotlib>=3.7.0

#3D Processing
open3d>=0.17.0

#Computer Vision
ultralytics==8.4.112
shapely>=2.0.0
